.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
}

.category-title {
  font-size: 2rem;
  margin-bottom: 25px;
  text-align: center;
}